<%- model_class = Passenger -%>

<%- title 'Пассажиры' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Полное имя</th>
      <th>№ паспорта</th>
      <th>Дата добавления</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.id %></td>
        <td><%= link_to passenger.full_name, passenger_path(passenger) %></td>
        <td><%= passenger.passport_data %></td>
        <td><%= passenger.created_at.strftime('%d.%m.%y at %k:%M') %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_passenger_path(passenger), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_passenger_path,
            :class => 'btn btn-primary' %>
